<section>
    <div class="navigation">
        <nav>
            <li><select class="form-select" aria-label="Default select example">
                <option selected>All Categories</option>
                <option value="1">Laptop</option>
                <option value="2">Headphones</option>
                <option value="3">Tablet</option>
                <option value="4">phone</option>
                <option value="5">Camera</option>

                </select>
            </li>
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="newProducts"> Products</a> </li>
            <li><a routerLink="Discount">Discounts</a>  </li>
            <li><a routerLink="contact">Contact US</a>  </li>
            <li><a routerLink="**"></a></li>

        </nav>
    </div>
</section>

