<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Accueil - Tech House</title>

</head>

<body>

<!-- Contenu principal -->
 <main>
  <!-- Section Produits en vedette -->
  <section class="featured-products">
    <article class="product">
      <img src="https://mk-media.mytek.tn/media/catalog/product/cache/8be3f98b14227a82112b46963246dfe1/p/c/pc-portable-dell-vostro-3520-i7-12e-gen-8go-512go-ssd-.jpg" alt="Nom du Produit 1">
      <h3>EN STOCK</h3>
      <h3>Pc Portable DELL Vostro 3520 i7 12è Gén 8Go 512Go SSD</h3>
      <p>Écran 15.6" Full HD, 120 Hz - Processeur: Intel Core i7-1255U Up to 4,70 GHz Turbo max, 12 Mo de mémoire cache, 10-Cores</p>
      <p>Prix:1 879,000 DT</p>
      <button>Ajouter au panier</button>
    </article>
    <article class="product">
      <img src="https://mk-media.mytek.tn/media/catalog/product/cache/8be3f98b14227a82112b46963246dfe1/p/c/pc-portable-dell-vostro-3525-amd-ryzen-5-12go-512go-ssd-noir-b.jpg" alt="Offre Spéciale 1">
      <h3>EN STOCK</h3>
      <h3>Pc Portable DELL Vostro 3525 AMD RYZEN 5 12Go 512Go SSD - Noir</h3>
      <p>Écran 15.6" Full HD, 120HZ - Processeur: AMD Ryzen™ 5 5500U (2.1 GHz up to 4.0 GHz Turbo max, 8 Mo de mémoire cache, Hexa-Core) 
        
        </p>
      <p>Prix:2 600,000 DT</p>
      <button>Ajouter au panier </button>
    </article>
    <!-- Ajoutez plus de produits ici -->
  </section>

  <!-- Section Offres spéciales -->
  <section class="special-offers">
    <article class="offer">
      <img src="https://mk-media.mytek.tn/media/catalog/product/cache/8be3f98b14227a82112b46963246dfe1/e/c/ecouteurs-sans-fil-jbl-tune-beam-bleu.jpg" alt="Offre Spéciale 1">
      <h3>EN STOCK</h3>
      <h3>Écouteurs Sans Fil JBL Earbuds Tune Beam - Bleu</h3>
      <p>Écouteurs sans fil JBL Earbuds Tune Beam  - Technologie de Connectivité: Bluetooth 5.3 - Autonomie en conversation: 6.6 heures </p>
      <button>Ajouter au panier</button>
    </article>
    <article class="offer">
      <img src="https://mk-media.mytek.tn/media/catalog/product/cache/8be3f98b14227a82112b46963246dfe1/e/c/ecouteurs-sans-fil-xiaomi-mi-earbuds-basic-2-noir.jpg"        alt="Offre Spéciale 2">
      <h3>EN STOCK</h3>
      <h3>Écouteurs Sans Fil XIAOMI Mi Earbuds Basic 2 - Noir</h3>
      <p>Écouteurs Sans Fil XIAOMI Mi Earbuds Basic 2 - Technologie de connectivité: Bluetooth 5.0 - Capacité de la batterie: 43 mAh/300mAh </p>
      <button>Ajouter au panier</button>
    </article>
    <!-- Ajoutez plus d'offres ici -->
  </section>
    <!-- Section Produits en vedette -->
    <section class="featured-products">
      <article class="product">
        <img src="https://mk-media.mytek.tn/media/catalog/product/cache/8be3f98b14227a82112b46963246dfe1/i/m/imprimante-a-reservoir-integre-epson-ecotank-l1250-couleur-wi-fi-noir-c11cj71403-20_1_1.jpg" alt="Nom du Produit 1">
        <h3>EN STOCK</h3>
        <h3>Imprimante à Réservoir Intégré EPSON ECOTANK L1250 Wi-Fi Couleur + Cadeau</h3>
        <p>mprimante à Réservoir intégré Epson couleur - Fonction: Impression - Format papier: A4 - Technologie d'impression: jet d'encre</p>
        <p>Prix:519,000 DT</p>
        <button>Ajouter au panier</button>
      </article>
      <article class="product">
        <img src="https://mk-media.mytek.tn/media/catalog/product/cache/8be3f98b14227a82112b46963246dfe1/i/m/imprimante-matricielle-epson-lq-2190livraision.jpg" alt="Nom du Produit 2">
        <h3>PAR COMMANDE</h3>
        <h3>Imprimante Matricielle EPSON LQ-2190</h3>
        <p>mprimante Matricielle EPSON LQ-2190 - Fonctions: Impression - Format Papier: A3 - Mode d'impression: Matricielle à impact</p>
        <p>Prix:2 329,000 DT</p>
        <button>Ajouter au panier </button>
      </article>
      <!-- Ajoutez plus de produits ici -->
    </section>
  
    <!-- Section Offres spéciales -->
    <section class="special-offers">
      <article class="offer">
        <img src="https://mk-media.mytek.tn/media/catalog/product/cache/8be3f98b14227a82112b46963246dfe1/b/r/bracelet-connectee-lige-c60-rose.jpg" alt="Offre Spéciale 1">
        <h3>EN STOCK</h3>
        <h3>Bracelet Connecté LIGE C60 - Ros</h3>
        <p>Bracelet Connectée LIGE C60 - Écran 1.1" AMOLED - Connectivité Sans Fil: Bluetooth 5.0 - Notifications pour smartphone 
          - Surveillance de la fréquence cardiaque, pression artérielle, oxygène sanguin,</p>
        <button>Ajouter au panier </button>
      </article>
      <article class="offer">
        <img src="https://mk-media.mytek.tn/media/catalog/product/cache/8be3f98b14227a82112b46963246dfe1/b/u/bu-lw31-noir-1_1.jpg" alt="Offre Spéciale 2">
        <h3>EN STOCK</h3>
        <h3>Montre Connectée LINWEAR - Noir</h3>
        <p>Montre Connectée LINWEAR - Ecran: Tactile de 1.69 (240 x 280 pixels) -
           Système d'exploitation: Android 5.0+ / iOS 10.0+ - Connectivité: Bluetooth .</p>
           <button>Ajouter au panier </button>
      </article>
      <!-- Ajoutez plus d'offres ici -->
    </section>
  

 </main>

</body>
</html>




