
<ng-container *ngIf="product.length ==0">
    <div class="container">
        <div class="card">
            <h5 class="card-title">My cart</h5>
            <div class="center">
                <img src="../../assets/Ecommerce campaign-amico.svg" alt="" width="200px">
                <h4>Your cart is empty !</h4>
                <h6>Add items to your cart</h6>
                <button class="btn btn-primary px-5 py-3 mt-3" routerLink="/">Shop now</button>
            </div>
        </div>
    </div>
</ng-container>





<!--  -->