
section{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    gap: 10px;
}
.card{
    box-shadow: 0 5px 25px rgba(1 1 1 / 20%);
    padding: 5px 30px 20px 30px ;
    margin: 13px;
    border-radius: 15px;
    transition: 0.4s ease-in;

}
.card:hover{
    scale: 1.03;
}
.card .info{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.info p{
    margin-top: 10px;
}
.card img{
    text-align: center;
    width: 260px;
    height: 260px;
}

.category{
    opacity: 0.8;
}

.name{
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: 0.7px;
}

.price{
    color: #D10024;
    font-weight: 900;
    font-size: 1.1em;
}

.old{
opacity: 0.8;
color: #15161D;
font-size: 0.75em;  
text-decoration: line-through;
}


button{
    padding: 10px 30px 10px 30px;
    margin: 10px;
    background-color: #865DFF;
    border: none;
    border-radius :10px; ;
    cursor: pointer;
    font-weight: bold;
    color: white;
}
button:is(:hover,:focus){
    outline-offset: 3px;
}
.btnn{
    background-color: transparent;
    border: 1px solid #865DFF;
    color: black;

}

.buy{
    transform: translateX(30px);
}

.rating i {
    font-size: 0.85em;
    color:#FFD700;
}

