
<div class="container contact" id="myAnchor">
    <!--Section: Contact v.2-->
    <section class="mb-4">
        <h1 class="text-center mb-5">Contact Us</h1>
        <div class="row">
            <!--Grid column-->
            <div class="col-md-9 mb-md-0 mb-5">
                <form id="contact-form" name="contact-form" action="mail.php" method="POST" #f="ngForm" [formGroup]="addContactForm" >

                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form mb-0"> 
                            <label for="name" class="">Name<span>*</span></label>
                                <input type="text" id="name" name="nom" class="form-control" formControlName = "nom" >
                            </div>
                            <div class="alert alert-danger mt-2" *ngIf="this.nom?.invalid && this.nom?.touched">
                                The name is a required filed
                            </div>
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form mb-0">
                                <label for="email" class="">Email<span>*</span></label>
                                <input type="text" id="email" name="email" class="form-control" class="form-control" formControlName = "email" pattern="[a-zA-Z0-9]+@+[a-zA-Z0-9]+.[a-zA-Z0-9]{2,4}">
                            </div>
                            <div class="alert alert-danger mt-2" *ngIf="this.email?.invalid && this.email?.touched">
                                <div *ngIf="this.email?.errors?.['required']">The email is a required field</div>
                                <div *ngIf="this.email?.errors?.['pattern']">The email doesn't seem right</div>
                            </div>
                        
                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->

                    <!--Grid row-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form mb-0">
                                <label for="name" class="">Objet<span>*</span></label>
                                <input type="text" id="name" name="Objet" class="form-control" formControlName = "objet">
                            </div>
                            <div class="alert alert-danger mt-2" *ngIf="this.objet?.invalid && this.objet?.touched">
                                The objet is a required filed
                            </div>
                        </div>
                    </div>
                    <!--Grid row-->

                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-12">
                            <div class="md-form">
                                <label for="message">Message<span>*</span></label>
                                <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea" formControlName = "msg"></textarea>
                            </div>
                            <div class="alert alert-danger mt-2" *ngIf="this.msg?.invalid && this.msg?.touched">
                                The message is a required filed
                            </div>

                        </div>
                    </div>
                    <!--Grid row-->

                </form>

                <div class="text-center text-md-left">
                    <a class="btn mt-3" onclick="document.getElementById('contact-form').submit();">Send</a>
                </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-3 text-center">
                <ul class="list-unstyled mb-0">
                    <li><fa-icon [icon]="faLocationArrow" class="icon"></fa-icon>
                        <p>Boumhal El Bassatin Ben Arous, Tunisie</p>
                    </li>

                    <li><fa-icon [icon]="faPhone" class="icon"></fa-icon>
                        <p>+216 58038441</p>
                    </li>

                    <li><fa-icon [icon]="faEnvelope" class="icon"></fa-icon>
                        <p>tec.com</p>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

        </div>

    </section>
    <!--Section: Contact v.2-->  
    <section class="container localisation">
    </section> 

