

<!-- Main content of your Angular page should go above the footer -->
<div class="content-wrapper">
  <!-- Include other components and content for your page here -->
  <!-- Example: <app-header></app-header> -->
  <router-outlet></router-outlet> <!-- Angular Router Outlet -->
  <!-- Example: <app-main-content></app-main-content> -->
</div>

<!-- Footer -->
<footer>
  <div class="footer_content">
    <ul class="part1">
      <li id="footer_title">Contact</li>
      <li>Street: </li>
      <li>City: Hay ons</li>
      <li>State Full: Sfax</li>
      <li>Zip Code: 3020</li>
      <li>Phone Number: +216 95 386 248</li>
      <li>Mobile Number: +216 95 386 248</li>
    </ul>

    <ul class="part2">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/newProducts">New Products</a></li>
      <li><a routerLink="/Discount">Discounts</a></li>
      <li><a routerLink="**"></a></li>
    </ul>

    <ul class="part3">
      <li id="footer_title">Recent posts</li>
      <li>Laptop MSI Discount</li>
      <li>Competition for 2 Galaxies</li>
      <li>A world of opportunities</li>
    </ul>
  </div>
</footer>